#visualizer {
	display: block;
	opacity: 0.6;
	position: fixed;
    top: 0px;
	left: 0px;
	bottom: 94px;
	right: 0px;
	height: 100%;
	width: 100%;
    z-index: -1;
    background: rgba(0, 0, 0, 0);
	transition: opacity 1s, background 1s;
}

#visualizer.active {
    opacity: 1;
    z-index: 500;
    background: rgba(0, 0, 0, 1);
}